page-doctors-list {
    

    
    ion-content{
   // background-image: linear-gradient(rgba(160, 3, 3, 0.6),rgba(160, 3, 3, 0.9)),url('../assets/backGr.png');
    background-image: linear-gradient(rgba(119, 136, 153, 0.6),rgba(119, 136, 153, 0.6)), url('../assets/gray_back.jpg');
    background-size: cover;
    background-position: center;

 
     
    }
    
    
    
    #bookButton
{
    color: aliceblue;
    background-color: teal;
    font-size: 12px;
    box-sizing: content-box;
    
}
    
    .doctorList{
        
        color: oldlace;
        background-color: darkcyan;
    }
    
    
    .fab{
        color: navy;
        background-color: cadetblue;
    }


}




